.btn-group button {
  border: 1px solid green;
  color: pink;
  padding: 1em 2em;
  cursor: pointer;
  float: left; }

.team-list {
  display: flex;
  flex-direction: column; }

/*
//team-two-container-selection
#team-one-container,
#team-two-container,
#team-one-container-selection,
#team-two-container-selection {
  background-color: #ff9900;
  width: 50%;
  padding: 1%;
}
*/
.area-container {
  background-color: #ff9900;
  width: 50%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.player-card {
  background-color: gray;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between; }

#player-card-name {
  width: 100%; }

#player-extended-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

p {
  margin: 0 !important; }

.disabled {
  pointer-events: none;
  cursor: none;
  background-color: gray; }

.player-info-highlight {
  font-weight: 900; }

#player-info-container {
  display: flex;
  flex-direction: row;
  pointer-events: none; }

.player-card {
  cursor: pointer; }

.trade-card {
  display: flex;
  flex-direction: row;
  pointer-events: none; }

#player-card-delete {
  pointer-events: auto;
  height: 100%; }

.player-info-container {
  width: 90%; }

#player-card-options {
  margin: 0.25rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik, Lato, lucida grande, lucida sans unicode, Tahoma, Sans-Serif; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.main-content-area {
  background: #a6a6a6;
  min-height: 100vh; }

#trade-proposer-container {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 1rem; }

#trade-validator-error-message-one,
#trade-validator-error-message-two {
  width: 50%;
  display: inline-block; }

#trade-validator-success-message {
  font-weight: 900;
  width: 50%;
  margin: auto; }

.team-info-highlight {
  font-weight: 900; }

.dropdown {
  margin: 1.25rem 0rem 0rem 0rem; }

#team-selection-main-container,
#team-rosters-sub-container {
  display: flex; }

#team-selection-main-container,
#trade-proposition-main-container {
  flex-direction: column; }

#team-selection-sub-container,
#trade-proposition-sub-container {
  display: flex;
  flex-direction: row; }

.hide {
  display: none !important; }

.toast {
  min-width: 100%; }

#trade-proposer-card-body {
  display: flex;
  flex-direction: column; }

#trade-validator-error-message-container {
  display: flex;
  flex-direction: row; }

#trade-validator-error-message-two {
  margin-left: auto; }

#trade-validator-error-message-one {
  margin-right: auto; }

#trade-proposer-button {
  width: 15%;
  margin: auto auto 1% auto; }

.section-title {
  margin: 2rem 1rem 0rem 1rem;
  border-bottom: solid 5px #ff9900;
  box-shadow: 0 4px 2px -2px gray; }

.card {
  min-height: 12rem; }

header {
  height: 25rem;
  margin-bottom: 5rem;
  /*
  background-image: radial-gradient(
      ellipse closest-side,
      rgba(15, 14, 22, 0.5),
      #100e17
    ),
    url("../images/wpn-20190919.webp");
*/
  background-image: radial-gradient(ellipse closest-side, rgba(15, 14, 22, 0.5), #100e17), url("../images/nbaLogos.png");
  background-color: #cccccc;
  border-bottom-right-radius: 8rem;
  position: relative;
  z-index: 1;
  background-repeat: no-repeat; }

#header-gradient {
  background-color: red;
  min-height: 12rem;
  position: relative;
  transform: translate(0px, -15rem);
  background-image: linear-gradient(to bottom right, #ff0000, #ff6600, #ffbf00);
  margin-bottom: -100px; }

.ball {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  position: absolute;
  right: -35px;
  top: -150px;
  background: url(../images/final_bball.png) no-repeat;
  transform: scale(0.95); }

#header-container {
  max-width: 75%;
  padding: 5% 0% 0% 1.5%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 20rem;
  margin: 0 2% 0 2%; }

#header-title {
  font-size: 4rem;
  font-weight: 700;
  position: relative;
  z-index: 3;
  color: #fff;
  text-shadow: 0.25rem 0.25rem 0.25rem #201c29; }

#header-body {
  font-size: 1rem;
  max-width: 50%;
  z-index: 3;
  color: #c2c2c2;
  text-shadow: 0.25rem 0.25rem 0.25rem #201c29;
  font-weight: 500; }

#trade-machine-rules {
  color: #fff;
  background-color: #201c29;
  padding: 2rem;
  border-radius: 1rem;
  width: 65%;
  margin: 5% 0 0 0%;
  text-shadow: 0.1rem 0.1rem 0.1rem #4d1f00;
  box-shadow: 0 0 5rem #100e17; }

#trade-machine-rules-header {
  font-size: 2rem; }

#rule-list {
  color: #c2c2c2;
  margin: 1rem 0 0 2rem;
  text-shadow: 0.1rem 0.1rem 0.1rem #4d1f00;
  font-size: 1rem; }

@media only screen and (max-width: 1200px) {
  #player-extended-info-container {
    flex-direction: column; }
  #player-card-name {
    margin-bottom: 1rem; }
  #player-card-delete {
    height: 5rem;
    width: 5rem; }
  #player-card-options {
    justify-self: center;
    align-self: center; }
  .ball {
    display: none; }
  #header-container {
    max-width: 100%; } }

@media only screen and (max-width: 992px) {
  #team-selection-sub-container,
  #trade-proposition-sub-container,
  #team-rosters-sub-container {
    flex-direction: column; }
  .area-container {
    width: auto; }
  #trade-proposer-button {
    width: 30%; }
  #trade-validator-error-message-one,
  #trade-validator-error-message-two {
    width: 100%; }
  #player-extended-info-container {
    flex-direction: column; }
  #player-card-name {
    margin-bottom: 1rem; }
  #player-card-delete {
    height: 5rem;
    width: 5rem; }
  #player-card-options {
    justify-self: center;
    align-self: center; }
  #trade-validator-success-message {
    width: 100%; }
  #trade-machine-rules {
    margin: 8% 0 0 0%; }
  header {
    border-bottom-right-radius: 4rem; }
  #header-title {
    font-size: 3rem; }
  #header-body {
    font-size: 0.75rem;
    max-width: 85%; }
  #trade-machine-rules {
    width: 85%;
    padding: 1rem; }
  #trade-machine-rules-header {
    font-size: 1rem; }
  #rule-list {
    font-size: 0.75rem; } }
