.player-card {
  background-color: gray;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between; }

#player-card-contract {
  display: flex;
  flex-direction: column; }

#player-card-name {
  width: 100%; }

#player-extended-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

p {
  margin: 0 !important; }
