.btn-group button {
  border: 1px solid green;
  color: pink;
  padding: 1em 2em;
  cursor: pointer;
  float: left; }

.team-list {
  display: flex;
  flex-direction: column; }

#team-one-container,
#team-two-container,
#team-one-container-selection,
#team-two-container-selection {
  background-color: red;
  width: 50%;
  padding: 1%; }

.area-container {
  background-color: red;
  width: 50%;
  padding: 1%; }
