.btn-group button {
  border: 1px solid green;
  color: pink;
  padding: 1em 2em;
  cursor: pointer;
  float: left; }

.team-list {
  display: flex;
  flex-direction: column; }

/*
//team-two-container-selection
#team-one-container,
#team-two-container,
#team-one-container-selection,
#team-two-container-selection {
  background-color: #ff9900;
  width: 50%;
  padding: 1%;
}
*/
.area-container {
  width: 50%;
  margin: 1rem; }
