// color scheme
// triad (3 colors)
// link: http://paletton.com/#uid=30v0u0kllll1W3MbEc-v2u6VePC

$base-color: #ff7600;
$accent-color-one: #0443e1;
$accent-color-one-gray-dark: #131314;
$accent-color-one-gray-mid: #2d3443;
$accent-color-one-gray-light: #e0e2eb;
$accent-color-two: #00ec0f;
