@import "config";
@import "navbar";
@import "sidebar";
@import "dashboard";
@import "teamlist";
@import "playerlist";
@import "admintools";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bree Serif", serif;
}

html {
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-content-area {
  padding: 1em;
  background: gray;
  min-height: 100vh;
}

#trade-proposer-container {
  text-align: center;
  background-color: green;
}

#trade-validator-error-message-one,
#trade-validator-error-message-two {
  width: 50%;
  display: inline-block;
}

#trade-validator-success-message {
  font-weight: 900;
  color: greenyellow;
}

.team-info-highlight {
  font-weight: 900;
}

.dropdown {
  margin: 1.25rem 0rem 0rem 0rem;
}
